button {
    background-color: black;
    color: white;
    /* font-size: clamp(50px, 8vm, 200px); */
    text-align: center;
    border-radius: 8px;
    width: fit-content 25%;
    ;
    height: 5rem;
    margin: 0px, 0px, 20px, 0px;
    font-size: 16px;

    display: block;
    margin: auto;



}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    outline: none;
}

a:focus {
    outline: none;
}

#question {
    background-color: #67c9fd;
    width: fit-content;
    height: fit-content;
    border: 5px solid red;
    text-align: center;
    padding: 1px;
    /* margin: 20px; */
    display: block;
    margin: auto;
    /* font-size: clamp(50px, 8vm, 100px); */

}


/* #choiceA {
    margin: 30px;
} */


h1 {
    text-align: center;
}

/* Change the text size and button size based on how big the screen is */
/* 2xl */
@media (max-width: 1536px) {
    #question {
        font-size: 50px;
    }

    button {
        font-size: 35px;
    }
}

/* xl*/
@media (max-width: 1280px) {
    #question {
        font-size: 40px;
    }

    button {
        font-size: 30px;
    }
}

/* lg */
@media (max-width: 1024px) {
    #question {
        font-size: 30px;
    }
}

/* md */
@media (max-width: 768px) {
    #question {
        font-size: 30px;
    }

    button {
        font-size: 18px;
    }
}

/* sm */
@media (max-width: 640px) {
    #question {
        font-size: 30px;
    }

    button {
        font-size: 18px;
    }
}

/* xs */
@media (max-width: 475px) {
    #question {
        font-size: 20px;
        height: 25rem;
    }

    button {
        font-size: 17px;
    }
}